/**  Color Definitions  **/

/*  Background Images  */
#header {
    background: url(/sites/default/themes/melo/images/header-960.png) right top no-repeat;
}
#site-name a:hover {
    background: url(/sites/default/themes/melo/images/head-over.png) 4px 8px no-repeat;
}

/*  Body colors  */
body, #header, #active-users-container, #active-users-loading {
    background-color: #000000;
    color: #FFFFFF;
}
body a, #page #header a, #page ul.nice-menu a {
    color: #d4d4dd;
}

/*  Page colors  */
#page, #page ul.nice-menu a.active, ul.nice-menu-down li.menuparent li, ul.nice-menu-down li:hover,
ul.primary li.active, ul.secondary, #page ul.secondary a, ul.primary li:hover, #content-inner ul.primary li:hover a  {
    background-color: #666B88;
    color: #000000;
}
#page a, #page ul.nice-menu a, #page ul.primary li.active a {
  color: #FFFFFF;
}

/*  Box colors  */

/*  Box Header  */
#content-header h1.title, 
#sidebar-left .block h2.title, 
#sidebar-right .block h2.title,
#comment-input h2.title, #comments-title, .view-Guestbook .view-header h2.title,
body.front .fp-col h2.title, #page ul.secondary li.active a, #page ul.secondary a:hover
{
    background-color: #000000;
    color: #FFFFFF;
}

/* Box Content Header  */
#sidebar-left .block .content h2.title, 
#sidebar-right .block .content h2.title {
  color: #000000;
}

#content-inner, #sidebar-left .block, #sidebar-right .block,
body.front .fp-col .block {
    border: solid black 1px;
}
ul.primary, ul.secondary {
    border-bottom: solid black 1px;
}

/*  Box Body  */
#content-inner, #sidebar-left .block, #sidebar-right .block,
body.front .fp-col .block {
    background: #D4D4DD;
    color: #000000;
}

/*  Text Cleanup  */
#content-inner h1.title a {
  color: #000000;
}
#content-header h1.title a, #content-inner h1.title a {
  color: #666b88;
}

/*  Box Links  */
#content-inner a, #sidebar-left .block a, #sidebar-right .block a,
body.front .fp-col .block a {
    color: #666B88;
}