/* $Id: feedback.css,v 1.3 2008/10/19 19:10:23 sun Exp $ */

/* Reset commonly set styles */
#block-feedback-form,
#block-feedback-form .feedback-link,
#block-feedback-form .feedback-link *,
#block-feedback-form .content,
#block-feedback-form form,
#block-feedback-form form label {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  color: inherit;
}


div#block-feedback-form {
  position: fixed;
  bottom: 60px;
  right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  max-height: 600px;
}
#block-feedback-form .feedback-link {
  padding: 0.3em 0;
  text-align: right;
  font-size: 12px;
}
#block-feedback-form .feedback-link * {
  display: inline;
  font-size: 12px;
}
#block-feedback-form .content {
  display: none;
  width: 220px;
}
#block-feedback-form form {
  border: 1px solid #ccc;
  padding: 6px;
  background-color: #fff;
  opacity: 0.9;
}
#block-feedback-form .feedback-help {
  margin: 0 0 0.5em;
  font-size: 10px;
  line-height: normal;
}
#block-feedback-form .feedback-submitted {
  margin-top: 0.2em;
  font-size: 10px;
}
#block-feedback-form .feedback-message {
  height: 10ex;
}
#block-feedback-form .resizable-textarea .grippie {
  width: 204px;
}
#block-feedback-form #feedback-throbber {
  height: 20px;
  background: url(../images/throbber.gif) no-repeat left center;
}
#block-feedback-form #feedback-submit {
  background-color: #fff;
  margin: 0;
}
#block-feedback-form h2.title span.feedback-link {
  display: none;
}
#page #block-feedback-form h2.title span.feedback-link {
  display: block;
}