@import "tribune.css";

.tribune-top-message {
    padding: 1ex;
	padding-bottom: 0;
	margin-bottom: 2em;
}

.tribune-top-message p {
    padding: 0;
    margin: 0;
    margin-bottom: 1ex;
}

.tribune-post-form .description {
    margin-top: 0;
    margin-bottom: 0;
}
