#main form .tribune-description-smileys fieldset {
	margin: 0;
	padding: 0;
	position: inherit;
}

#main form .tribune-description-smileys fieldset.collapsed {
	border: none;
}

#main form .tribune-description-smileys fieldset legend {
	padding: 0;
}

#main form .tribune-description-smileys fieldset legend a {
	text-decoration: none;
	background: none;
	padding: 0;
	color: inherit;
	cursor: text;
}

#main form .tribune-description-smileys fieldset legend a em {
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

#main form .tribune-description-smileys img.smiley-class {
	cursor: pointer;
}
